---
import Layout from '~/layouts/PageLayout.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Prices from '~/components/widgets/Pricing.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Steps from '~/components/widgets/Steps.astro';
import Features3 from '~/components/widgets/Features3.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';

const metadata = {
  title: 'Pricing 3',
};
---

<Layout metadata={metadata}>
  <!-- HeroText Widget ******************* -->

  <HeroText
    Xtagline="Pricing 3"
    title="<small>Core Insurance with</small><br>Simple, Fair & Transparent Pricing"
    Xsubtitle="Only pay for what you need"
  />

  <!-- Pricing Widget ******************* -->

  <Prices
    classes={{ container: 'md:py-0 lg:py-0' }}
    Xtitle="Our prices"
    subtitle="Our pricing is based on different plans and the number of managed business objects"
    XsubtitleExtend="<br>Each plan contains already a number of managable business objects. For additional business objects, see the pricing table below."
    prices={[
      {
        title: 'micro',
        subtitle: 'For Micro Insurance and simple insurance products',
        price: 5.999,
        period: 'per month',
        items: [
          {
            description: 'Optimized for a high load of business objects',
          },
          {
            description: 'Includes all <i>general</i> features',
          },
          {
            description: 'All general and micro features (see docu)',
          },
          {
            description: 'included <strong>100,000</strong> managed busines objects',
          },
          {
            description: 'For additional business objects, you pay only what you use.',
          },
          {
            description:
              'As more busines objects are managed as lower the price per object<br><small>Pricing algorithm: <code>1/log(x)</code></small>',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: '#',
        },
      },
      {
        title: 'classic',
        subtitle: 'For classical P&C insurance products with typical busines transactions',
        price: 9.999,
        period: 'Per Month',
        items: [
          {
            description: 'All features from Mico',
          },
          {
            description: 'Extended Business Transactions including Endorsements',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: '#',
        },
        // hasRibbon: true,
        // ribbonTitle: 'popular',
      },
      {
        title: 'special',
        subtitle: 'For special insurance products with custom specific business transactions',
        price: '...',
        period: 'Per Month',
        items: [
          {
            description: 'Curabitur suscipit risus',
          },
          {
            description: 'Aliquam habitasse malesuada',
          },
          {
            description: 'Suspendisse sit amet blandit',
          },
          {
            description: 'Suspendisse auctor blandit dui',
          },
        ],
        callToAction: {
          target: '_blank',
          text: 'Get started',
          href: '#',
        },
      },
    ]}
  />

  <Content
    Xtitle="Pricing"
    Xsubtitle="Discover how AstroWind's versatile template serves as the ideal solution for various use cases, providing tailored solutions to drive success."
    isReversed
    items={[
      {
        title: 'Different Plans for your Need',
        description:
          'Based on your business, we provide different plans<br> (primarily separated by usable business transactions).',
        icon: 'tabler:settings',
      },
      {
        title: 'Base Fee',
        description: 'There is a base fee for each plan. This includes the general usage of the system.',
        icon: 'tabler:presentation',
      },
      {
        title: 'Business Objects',
        description:
          'You pay only for the number of managed bussiness objects. As more you manage as lower the price per business object.',
        icon: 'tabler:carousel-horizontal',
      },
    ]}
    image={{
      src: '~/assets/images/plans.png',
      alt: 'AstroWind Hero Image',
      class: 'mx-auto w-full rounded-lg bg-light dark:bg-dark xshadow-lg',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Pricing Structure</h3>
    </Fragment>
  </Content>

  <!-- ** MY pricing widget ************** -->

  <div class="grid grid-cols-2 gap-4 mx-auto justify-center" style="padding-left: 200px; padding-right: 200px">
    <div>
      <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
        <h1 class="justify-center">Micro2</h1>

        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
          Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.
        </p>
        <a
          href="#"
          class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Read more
          <svg
            class="rtl:rotate-180 w-3.5 h-3.5 ms-2"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 5h12m0 0L9 1m4 4L9 9"></path>
          </svg>
        </a>
      </div>
    </div>
    <div>blub</div>
  </div>

  <!-- FREELANCER.com -->

  <!--mod start (replacing lines 23 to 82 in Astro widget /src/components/widgets/Pricing.astro) -->
  <div class="flex justify-center items-stretch">
    <div class="gap-4 grid dark:text-white grid-cols-3 lg:grid-cols-3 md:grid-cols-2 sm:grid-cols-2 xl:grid-cols-3">
      <!-- column -->
      <div
        class="flex intersect-once intersect-quarter motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 col-span-3 lg:col-span-1 md:col-span-1 mx-auto sm:col-span-1 w-full xl:col-span-1"
        data-animated="true"
        style="transition-delay: 100ms; animation-delay: 100ms;"
      >
        <div
          class="min-h-38rem flex flex-col w-full backdrop-blur bg-slate-100 border border-gray-200 dark:bg-slate-900 dark:border-gray-700 justify-between max-w-sm pb-1 rounded-lg shadow text-center"
        >
          <!-- top part -->
          <div class="bg-white dark:bg-slate-800 p-1 mb-8">
            <!-- 6-column Grid -->
            <div class="grid grid-cols-6 pb-1 mb-10 gap-1">
              <!-- Each square div with "BO" text -->
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xs border border-gray-200 dark:border-gray-700">BO</div>
            </div>
            <div class="w-full justify-center">Base Fee</div>
          </div>
          <!-- bottom -->
          <div class="w-full text-muted">
            <div class="w-full text-5xl font-bold justify-center">MICRO</div>
            <div class="w-full justify-center">Plan</div>
          </div>
        </div>
      </div>

      <!-- column -->
      <div
        class="flex intersect-once intersect-quarter motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 col-span-3 lg:col-span-1 md:col-span-1 mx-auto sm:col-span-1 w-full xl:col-span-1"
        data-animated="true"
        style="transition-delay: 200ms; animation-delay: 200ms;"
      >
        <div
          class="min-h-38rem flex flex-col w-full backdrop-blur bg-slate-100 border border-gray-200 dark:bg-slate-900 dark:border-gray-700 justify-between max-w-sm pb-1 rounded-lg shadow text-center"
        >
          <!-- top part -->
          <div class="bg-white dark:bg-slate-800 p-1 mb-8">
            <!-- 5-column Grid -->
            <div class="grid grid-cols-5 pb-1 gap-1">
              <!-- Each square div with "BO" text -->
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-sm border border-gray-200 dark:border-gray-700">BO</div>
            </div>
            <div class="w-full justify-center">Base Fee</div>
          </div>
          <!-- bottom -->
          <div class="w-full text-muted">
            <div class="w-full text-5xl font-bold justify-center">CLASSIC</div>
            <div class="w-full justify-center">Plan</div>
          </div>
        </div>
      </div>

      <!-- column -->
      <div
        class="flex intersect-once intersect-quarter motion-safe:md:intersect:animate-fade motion-safe:md:opacity-0 col-span-3 lg:col-span-1 md:col-span-1 mx-auto sm:col-span-1 w-full xl:col-span-1"
        data-animated="true"
        style="transition-delay: 300ms; animation-delay: 300ms;"
      >
        <div
          class="min-h-38rem flex flex-col w-full backdrop-blur bg-slate-100 border border-gray-200 dark:bg-slate-900 dark:border-gray-700 justify-between max-w-sm pb-1 rounded-lg shadow text-center"
        >
          <!-- top part -->
          <div class="bg-white dark:bg-slate-800 p-1 mb-8">
            <!-- 4-column Grid -->
            <div class="grid grid-cols-4 pb-1 gap-1">
              <!-- Each square div with "BO" text -->
              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>

              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>
              <div class="p-2 aspect-square justify-center text-xl border border-gray-200 dark:border-gray-700">BO</div>
            </div>
            <div class="w-full justify-center">Base Fee</div>
          </div>
          <!-- bottom -->
          <div class="w-full text-muted">
            <div class="w-full text-5xl font-bold justify-center">SPECIAL</div>
            <div class="w-full justify-center">Plan</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--mod end -->

  <!--  ************** -->

  <!-- Features3 Widget ************** -->

  <Features3
    title="Price-related features"
    subtitle="Discover the advantages of choosing our plans"
    columns={2}
    items={[
      {
        title: 'Tiered Pricing Plans',
        description: 'Choose from a range of pricing plans designed to accommodate different budgets and requirements.',
        icon: 'tabler:stairs',
      },
      {
        title: 'Transparent Pricing',
        description: 'Clearly displayed pricing details for each plan, with no hidden costs or unexpected charges.',
        icon: 'tabler:flip-vertical',
      },
      {
        title: 'Secure Payment Methods',
        description: 'Secure payment gateways to protect your financial information during transactions.',
        icon: 'tabler:shield-lock',
      },
      {
        title: 'Instant Access',
        description: `Immediate access to your chosen plan's features and templates upon subscription.`,
        icon: 'tabler:accessible',
      },
      {
        title: 'Upgrade Value',
        description: 'Upgrade to higher-tier plans to unlock more features and benefits for an enhanced experience.',
        icon: 'tabler:chevrons-up',
      },
      {
        title: '24H support',
        description: 'Questions answered via live chat, email or phone, every calendar day.',
        icon: 'tabler:headset',
      },
    ]}
    classes={{ container: 'max-w-5xl' }}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="A guided journey from plans to creativity"
    tagline="simplified process"
    isReversed={true}
    items={[
      {
        title: 'Explore plans',
        icon: 'tabler:number-1',
      },
      {
        title: 'Select a plan',
        icon: 'tabler:number-2',
      },
      {
        title: 'Sign Up / Log In',
        icon: 'tabler:number-3',
      },
      {
        title: 'Review order',
        icon: 'tabler:number-4',
      },
      {
        title: 'Enter payment details',
        icon: 'tabler:number-5',
      },
      {
        title: 'Confirmation',
        icon: 'tabler:number-6',
      },
      {
        title: 'Download and start using the template(s)',
        icon: 'tabler:number-7',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1536816579748-4ecb3f03d72a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Module Description -->

  <Features3
    title="Policy"
    subtitle="blub bal bla bla"
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Full-Temporal History',
        description: 'Revision proof. System date, Issue date, Value from date, TODO bla blub ',
        icon: 'tabler:template',
      },
      {
        title: 'p.r.t. Premium Calculation',
        description: '360 / 365 p.r.t premium calculation. per contract module and tax branch',
        icon: 'tabler:template',
      },
      {
        title: 'Contract Version Differ',
        description: 'Smart options to show difference from different contract versions.',
        icon: 'tabler:template',
      },

      {
        title: 'Module based contract management',
        description: 'Nested module based persitance for better reports and analysis',
        icon: 'tabler:template',
      },
      {
        title: 'Trace Options',
        description: 'Ehnanced trace options. See where your data are coming from including all transforming steps.',
        icon: 'tabler:template',
      },
      {
        title: 'Business Transactions',
        description: 'Starting point for configurable business transactions that control the data and action flow',
        icon: 'tabler:template',
      },
      {
        title: 'Further Details',
        icon: 'tabler:template',
        callToAction: {
          target: '_blank',
          text: 'Please finde more details here...',
          href: 'https://github.com/onwidget/astrowind',
          icon: 'tabler:chevron-right',
        },
      },
    ]}
    Ximage={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <Features3
    title="Partner"
    subtitle="Business Partner Management."
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'Partner Designer',
        description: 'Configuration of rules for data validations.',
        icon: 'tabler:template',
      },
      {
        title: 'Role Management',
        description: 'Manage different roles with different business transactions and validation rules',
        icon: 'tabler:template',
      },
      {
        title: 'Versioning',
        description: 'Full versioning of all changes.',
        icon: 'tabler:template',
      },
      {
        title: 'Data Protection',
        description: 'GDPR, CoC, ... implementations',
        icon: 'tabler:template',
      },
      {
        title: 'Trace Options',
        description: 'Ehnanced trace options. See where your data are coming from including all transforming steps.',
        icon: 'tabler:template',
      },
      {
        title: 'Business Transactions',
        description: 'Starting point for configurable business transactions that control the data and action flow',
        icon: 'tabler:template',
      },
      {
        title: 'Further Details',
        icon: 'tabler:template',
        callToAction: {
          target: '_blank',
          text: 'Please finde more details here...',
          href: 'https://github.com/onwidget/astrowind',
          icon: 'tabler:chevron-right',
        },
      },
    ]}
    Ximage={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <Features3
    title="DocGen"
    subtitle="Template Based Document Generation."
    columns={3}
    isAfterContent={true}
    items={[
      {
        title: 'PDF Generation',
        description:
          'For document exchange you can generate PDF documents where data coming from our standardized system wide data structure',
        icon: 'tabler:template',
      },
      {
        title: 'Archive: PDF A/3',
        description: 'You can configure for specific document type the PDF A/3 format as output (TODO link: PDF A/3)',
        icon: 'tabler:template',
      },
      {
        title: 'Templating',
        description:
          'Use the wide-spreaded (TODO weitverbreitet und Link irgendwo) Freemarker standard to orchestrate and design your documents with reusable snippets',
        icon: 'tabler:template',
      },
      {
        title: 'DocGen Designer',
        description: 'Use our DocGen Designer to orchestrate and test your documents in a simple and fas way',
        icon: 'tabler:template',
      },
      {
        title: 'Further Details',
        icon: 'tabler:template',
        callToAction: {
          target: '_blank',
          text: 'Please finde more details here...',
          href: 'https://github.com/onwidget/astrowind',
          icon: 'tabler:chevron-right',
        },
      },
    ]}
    Ximage={{
      src: 'https://images.unsplash.com/photo-1504384308090-c894fdcc538d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Colorful Image',
    }}
  />

  <!-- ****************** -->

  <div class="justify-center grid mb-8 pb-8 mx-auto gap-8 max-w-4xl gap-y-8 md:gap-y-12">
    Maybe it feels a bit unusual to see already know the final prices? Buying a core insurance system (or in general b2b
    software) means often no real visibility of the final costs during the evaluation phase. <br />
    We stop this. Why? We like transparency - always. <br />
    <br />
    We shorten this processes: You can see the final prices here. Already now. No hidden costs, no surprises. <br />
    Please find former information to our price design and our thoughts within our pricing faq.
    <br />
    <br />
    <hr />
    <h3>Business Objects (note)</h3>
    Business object are _policies_ and _partners_ (in the future there will be also claims, commissions and reinsurances).
    Only the main objects are counted and not their (contract) versions.
  </div>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Pricing FAQs"
    subtitle="Choosing the right plan is important, and we're here to answer your questions. If you have queries about our pricing options, you're in the right place."
    columns={1}
    items={[
      {
        title: 'Do the plans come with customer support?',
        description:
          'Absolutely, all plans include access to our dedicated customer support to assist you with any queries or concerns.',
      },
      {
        title: 'Is there a trial period for the different plans?',
        description:
          "Unfortunately, we don't offer trial periods for the plans. However, you can check out our demo section to preview the quality of our templates.",
      },
      {
        title: 'Can I switch between plans?',
        description:
          'Certainly! You can easily upgrade or downgrade your plan, at any time, to find the one that best suits your evolving requirements.',
      },
      {
        title: 'What payment methods do you accept?',
        description:
          'We accept major credit cards and online payment methods to ensure a convenient and secure transaction process.',
      },
      {
        title: 'Are there any hidden fees beyond the displayed cost?',
        description:
          'No, the subscription cost covers all the features and templates listed under each plan. There are no hidden fees or extra charges.',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    title="Ready to boost your projects?"
    subtitle="Join our community of satisfied customers who have transformed their work with our templates."
    actions={[
      {
        variant: 'primary',
        text: 'Get started now',
        href: '/',
      },
    ]}
  />
</Layout>
